div p {
  color:pink;
}

h1 {
  position: relative;
  left: 30px;
  border: 3px solid #73AD21;
  color: blue;
  font-style: italic;
  font-size: 150%;
}

h2 {
    position: absolute;
    top: 80px;
    right: 0;
    width: 200px;
    height: 100px;
    border: 3px solid #73AD21;
    text-transform: uppercase;
}

h3 {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    border: 3px solid #73AD21;
}

h1 ~ h2 {
  color: blue;
}


img {
    border: 1px solid black;
    padding: 5px;
    width: 150px;
    margin-top: 100px;
}
